html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Poppins, sans-serif;
}

.nav {
padding: 10px;
background-color: #3a3633;
display: flex;
align-items: center;
justify-content: center;
}

.navlist{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.navlist li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    
}



.nav-dropdown {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.nav-dropdown > a{
    text-decoration: none;
    color:  white;
}


.nav img{
    height: 45px;
    justify-content: left;
}

/*TESTING HOVER HIGHLIGHT having trouble to get the animation across the board*/

.navlist a:hover {
    color: white;
    display: block;
}
.navlist a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 100%;

    bottom: 0;
    height: 2px;
    background-color: white;
}
.navlist a:hover::before {
    right: 0;
    left: 0;
}




/*Below works for only the Products side */

.nav a:hover {
    color: white;
    display: block;
}
.nav a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 100%;

    bottom: 0;
    height: 2px;
    background-color: white;
}
.nav a:hover::before {
    right: 0;
    left: 0;
}




/*end hover animation */

.nav > a {
color: #fff;
margin: 0 40px;
text-decoration: none;
font-family: 'Poppins', sans-serif;
transition: opacity 0.2s ease-in-out;
}

.nav-dropdown:hover > .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3a3633;
}

.dropdown-menu {
    display: none;
}

.menu-list li a{
    text-decoration: none;
    color:white;
}

.menu-list {
    margin: 0;
    padding: 0;
}
  
.menu-list > li {
    list-style-type: none;
    padding: 20px;
}
.menu-list > li:hover {
    background-color: lightgray;
}

.dropdown-menu


/*change below to put the highlight animation for the selections nav*/

.nav > a:hover {
    opacity: 0.5;
}


/*BIG ROCKET BOY TAXI DONT TOUCH!*/

.centerpiece{
    background-image: url(../imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}   

.bothhalves{
    display: flex;
    width: 768px;
    align-content: center;
    padding-left: 550px;
}

.lefthalf{
    font-size:40px;
    text-align: left;
    border-left: solid white 6px;
    border-top: solid white 6px;
    border-bottom: solid white 6px;
    padding-left: 10px;
    padding-right: 20px;
}
.righthalf{
    background-color: rgba(0,0,0,0.5);
    border-right: solid white 6px;
    border-top: solid white 6px;
    border-bottom: solid white 6px;
    text-align: left;
}

.topheader{
    font-size: 30px;
    padding: 20px;
}

.bottomtext{
    font-size: 10px;
    display: flex;
}
.lefthalf{
    font-size: 50px;
    justify-content: center;
    padding-top: 80px;
}


.bottomtext p{
    text-align: left;
    padding: 20px;
    border-top:1px dotted white;
}

/*Features Section */

.block img{
    height:50px;
}
.blocks{
    text-align: center;
    padding: 100px;
    margin-left: 8%;
    margin-right: 8%;
}
.block p{
    color: rgb(94, 88, 88);
    padding: 15px;
}
.block{
    border: 1px solid lightgrey;
    box-shadow: 2px lightgray;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
}
@media (min-width: 768px) {
    .blocks {display: flex;
    }
}
.block button{
    background: rgb(59, 56, 56);
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
}
/*LOREM IPSUM WITH GRADIENT BLOCK(S)*/

.squares h2{
    padding: 40px;
    font-size: 50px;
    color: white;
}
.htop{
        background-color: #3a3633;
        margin: 0px;
        height: 10vh;
}

.hbottom{
    margin: 0px;
    padding: 0px;
}

.top p{
    background-color: #3a3633;
    margin: 0px;
    height: 250px;
}

.bottom p{
    margin: 0px;
    height: 30vh;
}
.squares p{
    padding: 10px;
    font-size: 20px;
    color: white;
}
.front p2{
    color: white;
    text-size-adjust: 5px;

}
.front{
    position: absolute;
    background-color: #3a3633;
    border: 8px solid white;
    width: 200px;
    text-align: center;
    padding: 5px 20px;
    bottom: -1280px;
    left:4%;

}
.bottom{
    width: 100%;
    text-align: right;
    background-color: rgb(56, 156, 250);
    background: linear-gradient(to right, white, rgb(56, 156, 250));
}
.front{
    background-color: #3a3633;
}
.front, .p2{
    padding: 20px;
}
.front h3{
    font-size: 20px;
    color: red;
}
/* PICTURES GRID */

.gattopics{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.gattopics img{
    box-sizing: border-box;
    padding: 0px;
    width:calc(100%/3);
}

.mailinginput{
    padding-right: 40px;
}

.emailinput{
    box-sizing: border-box;
}

.registeremail{
    padding-bottom: 10px;
}

.mailingbox{
    text-align: center;
    justify-content: center;
    padding: 50px 0px;
}

.mailingbox img{
    margin: 4px;
}

.checkboxinput{
    padding-top: 10px;
    padding-right: 20px;
}


input[type="email"] {
    width: 200px; /* width of image */
    height: 35px; /* height of image */
    border: 1px solid gray;
    border-radius: 5px;
}
.sendbutton{
    background-color: gray;
    border-radius: 5px;
    margin: 0;
}

.legal{
    padding-top:100px;
    border-top:solid 1px lightgray;
}

.legalclicks{ 
    list-style: none;
    display: flex;
    display:inline-block;
    width: 22%;
    padding: 0 20px;
}

.legalclicks a{
    text-decoration: none;
    color: black;
}


/* THIS BELOW LINE FOR THE LEGAL MEDIA */

@media (max-width:768px)
{
    .gattopics img{
        width: 100%;;
    }
    .gattopics{
    display: inline-block;
    font-size: 0;
}
}

/*MEDIA LINES FOR TAXI SPACESHIP */

@media (max-width:768px)
{

    .bothhalves{
        font-size: 30px;    
        padding: 0px;
        display: inline-block;
        text-align: left;
        width: 768px;
    }

    .bottomtext p{
        font-size: 20px;
        padding-left: 20px;
        border: none;
    }
    .lefthalf{
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .topheader{
        padding-left: 20px;
        padding-top: 40px;
    }
}

@media (max-width:768px)
{
    .centerpiece{
        background-image: url(../imgs/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100px;
        justify-content: center;

}

    .bottomtext{
        font-size: 10px;
        display: inline-block;
}
}

/*Gradient media*/

@media (max-width:768px)
{   .front{
    background-color: #3a3633;
    border: 8px solid white;
    width: 200px;
    text-align: center;
    padding: 5px 20px;
    bottom: -2820px;
    left:20%;

}

@media (max-width:768px)
{
     p{
        font-size: 30px;
    }


    .grayblock p{
        font-size: 20px;
        padding-left: 20px;
}

    .slickgradient p{
        padding-right:100px ;
    }

    .blocks header{
        font-size: 30px;
        padding-left: 20px;
}

    .gradientblock p{
        padding-right: 50px;
    }
    .lefthalf{
        border: none;
        font-size: 30px;
    }
    .righthalf{
        border:none;
    }
    .bottomtext p{
        font-size: 15px;
    }
}