html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    font-family: Poppins, sans-serif;

}


/*NAV BAR */
.nav-across-options{
    display: flex;
    list-style: none;
}

.dropdown-options a{
    text-decoration:none;
}

/*BIG ROCKET BOY*/
/*20px is good for the 2 paragrapjs*/

.centerpiece{
    background-image: url(../imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}   

.bothhalves{
    display: flex;
    padding:280px;
    width: 768px;
}

.lefthalf{
    font-size:40px;
    text-align: left;
    border-left: solid white 6px;
    border-top: solid white 6px;
    border-bottom: solid white 6px;
    padding-left: 10px;
    padding-right: 20px;
}
.righthalf{
    background-color: rgba(0,0,0,0.5);
    border-right: solid white 6px;
    border-top: solid white 6px;
    border-bottom: solid white 6px;
    text-align: left;
}

.topheader{
    font-size: 30px;
    padding: 20px;
}

.bottomtext{
    font-size: 10px;
    display: flex;
}
.lefthalf{
    font-size: 50px;
    justify-content: center;
    padding-top: 80px;
}


.bottomtext p{
    text-align: left;
    padding: 20px;
    border-top:1px dotted white;
}

/*Features Section */

.allfeat{
    display:flex;
    justify-content: center;
    text-align: center;
}

.featurecontent{
    display: flex;
    justify-content: center;
    padding: 0px 0;
}

.feature p{
    height: 150px;
    color: gray;
    text-align: center;
    margin: 30px;
}

.feature{
    width: 300px;
    padding: 20px;
    border:solid 1px lightgray;
    margin: 15px;
    border-radius: 15px;

}

.feature img{
    height: 50px;
}

.feature header{
    font-size: 20px;
    font-weight: bold; 
    padding: 20px;
}

.allbuttons{
    color: #3a3633;
}

/*LOREM IPSUM WITH GRADIENT BLOCK(S)*/

.blocks{
    color: white;
}

.blocks header{
    font-size: 100px;
}

.grayblock{
    margin-top: 25px;
}
.grayblock p{
    font-size:20px;
}



.gradientblock{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,110,176,0) 0%, rgba(1,74,181,1) 100%);
}

.gradientblock{
    height: 600px;
}

.gradientblock p{
    text-align: right;
    padding-right: 50px;
    font-size: 30px;
}
.slickgradient{
    text-align: right;
    padding-top: 100px;
    padding-right: 50px;
}

.grayblock{
    padding-top: 100px;
    
}

.slickgradient p{
    text-align: right;
    padding-top: 100px;
    padding-right: 50px;

}

.animationblock{
    padding-top: 100px;

}


.grayblock{
    background-color: #3a3633;
    height: 600px;
}


/* PICTURES GRID */

.gattopics{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.gattopics img{
    box-sizing: border-box;
    padding: 0px;
    width:calc(100%/3);
}

.mailinginput{
    padding-right: 40px;
}

.emailinput{
    box-sizing: border-box;
}

.registeremail{
    padding-bottom: 10px;
}

.mailingbox{
    text-align: center;
    justify-content: center;
    padding: 50px 0px;
}

.mailingbox img{
    margin: 4px;
}

.checkboxinput{
    padding-top: 10px;
    padding-right: 20px;
}


input[type="email"] {
    width: 200px; /* width of image */
    height: 35px; /* height of image */
    border: 1px solid gray;
    border-radius: 5px;
}
.sendbutton{
    background-color: gray;
    border-radius: 5px;
    margin: 0;
}

.legal{
    padding-top:100px;
    border-top:solid 1px lightgray;
}

.legalclicks{ 
    list-style: none;
    display: flex;
    display:inline-block;
    width: 22%;
    padding: 0 20px;
}

.legalclicks a{
    text-decoration: none;
    color: black;
}

@media (max-width:768px)
{
 /*   .gattopics img{
        width: 100%;;
    }*/
    .allfeat{
    display: inline-block;
    position: relative
}

@media (max-width:768px)
{
    .gattopics img{
        width: 100%;;
    }
    .gattopics{
    display: inline-block;
    font-size: 0;
}
}

@media (max-width:768px)
{

    .bothhalves{
        font-size: 30px;    
        padding: 0px;
        display: inline-block;
        text-align: left;
        width: 768px;
    }

    .bottomtext p{
        font-size: 20px;
        padding-left: 20px;
        border: none;
    }
    .lefthalf{
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .topheader{
        padding-left: 20px;
        padding-top: 40px;
    }
}

@media (max-width:768px)
{
    .centerpiece{
        background-image: url(../imgs/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100px;
        justify-content: center;

}

    .bottomtext{
        font-size: 10px;
        display: inline-block;
}
}

@media (max-width:768px)
{
    .grayblock p{
        font-size: 20px;
        padding-left: 20px;
}

    .blocks header{
        font-size: 30px;
        padding-left: 20px;
}

    .gradientblock p{
        padding-right: 20px;
    }
    .lefthalf{
        border: none;
        font-size: 30px;
    }
    .righthalf{
        border:none;
    }
    .bottomtext p{
        font-size: 15px;
    }
}